
body{
    line-height: 20px;
    background-color: lightcyan;
    font-family: "Bookman Old Style";
}

.top-header{
    background-color: deepskyblue!important;
}
.sub-top-header {
    padding-top: 10px;
}
.header-top{
    padding-top: 20px;
}
img{
    max-width: 100%;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default {
    color: white;
    border: none;
    margin: 0;
    min-height: inherit;
    border-radius: 0;
    background-color: deepskyblue;
}
.navbar-default .navbar-nav .nav-link:focus, .navbar-default .navbar-nav .nav-link:hover {
    color: red !important;
}
.navbar-default .navbar-nav .nav-link {
    color: black;
    font-size: 17px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: justify;
}

.sectionOne{
    padding-left: 20px;
}
.sectionOne > h2{
    font-weight: 600;
    color: red;
    text-align: center;
}
.sectionTwo > h2{
    font-weight: 600;
    color: #2e6da4;
    text-align: center;
}
.sectionTwo > p{
    font-weight: 500;
    text-align: justify;
}
.sectionSeven > h3, .sectionSeven > h3{
    color: red;
    text-align: center;

}
.sectionSeven > h5, .subSectionSeven > p{
    color: red;
}


.sectionEight > h4{
    text-align: center;
}
.sectionNine{
    text-align: justify;
    font-size: 16px;

}
.sectionFive > h3{
    text-align: center;
    color: red;
}
.subSectionFive p{
    color: red;
    font-size: 17px;
}
.section-five img{
    border-radius: 50%;
}
.section-five p{
    color: blue;
    font-size: 17px;
    text-align: center;
}
.sectionFive > p{
    text-align: justify;
}


.sectionEight > h5{
    color: red;
    text-align: center;
}
.home-image {
    background: url('images/praying.JPG') no-repeat center;
    background-size: cover;
    min-height: 500px;
    font-weight: 700;
    color: white;
    padding: 100px 15px;
    margin-bottom: 30px;
}
.mini-header {
    background: url('images/image2.jpg') no-repeat center;
    background-size: cover;
    min-height: 130px;
    color: red;
    padding: 25px 15px;
    margin-bottom: 30px;
}
.mini-header .sub-mini-title {
    background: #fff;
}

.mini-title {
    font-size: 18px;
}

.tales {
    width: 100%;
}

.footer{
    color: white;
    text-align: center;
}

hr{
    background-color: #2e6da4;
    height: 2px;
}

.form-group > label{
    font-size: 17px;
    color: red;
}
.button{
    font-size: 17px;
    font-weight: 600;
}

.col-md-3{
    padding-left: 80px;
}

.footer{
    color: white;
    text-align: center;
    padding-top: 20px;
}
/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 60px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-whatsapp {
    background: green;
    color: white;
}

